<h1>Pragmatic Order Received</h1>

<p>
  This is just to let you know that we've received your recent order:
</p>

<table>
  <tr><th colspan = "2">Qty</th> <th>Description</th> </tr>
  <%= render @order.line_items %>
</table>
