<h2><%= t('.title') %></h2>
<table>

  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2"><%= t('.total') %></td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>

<div class="checkout_button">
<%= button_to t('.checkout'), new_order_path, method: :get %>
</div>

<%= button_to t('.empty'), cart, method: :delete,
    data: { confirm: t('.you_sure')} %>
